@{
    Layout = "_Layout";
}

<h1>İletişim</h1>
<p>Bizimle iletişime geçmek için aşağıdaki bilgilerden birini kullanabilirsiniz:</p>

<ul>
    <li><strong>Telefon:</strong> +90 123 456 78 90</li>
    <li><strong>E-posta:</strong> ulas.karaaslan@icloud.com</li>
    <li><strong>Adres:</strong> Örnek Mahallesi, İstanbul, Türkiye</li>
</ul>

<p>Ya da aşağıdaki sosyal medya hesaplarımızdan bize ulaşabilirsiniz:</p>
<ul>
    <li><strong>Twitter:</strong> <a href="https://x.com/ulas2m" target="_blank">x.com/ulas2m</a></li>
    <li><strong>Instagram:</strong> <a href="https://www.instagram.com/ulass.krsln" target="_blank">instagram.com/ulass.krsln</a></li>
</ul>

<p>Herhangi bir sorunuz olursa, lütfen bizimle iletişime geçin. Size en kısa sürede dönüş yapacağız.</p>